@import '../../../scss/index.scss';

.modal-publication {
	height: 480px !important;
	.ui.grid {
		margin: 0;
		height: 100%;
	}

	&__left {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__right {
		padding: 0 !important;
		height: 100%;

		&__close {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			padding-right: 5px;
			border: 1px solid $border-grey;
		}
	}

	&__actionComments {
		position: relative !important;
		height: 100%;
	}
}

.mobile-publication {
  height: 350px !important;
	&__photo {
		display: flex;
    border: 1px solid black;
		flex-direction: column;

		&__image {
			display: flex;
			height: 200px !important;
		}
	}
}

.mobile-comments {
	
}