@import "../../../scss/index.scss";

.preview-album {
    height: 100%;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &__image {
        width: 200px;
        height: 200px;
    }

    &__title {
        display: flex;
        justify-content: space-around;
    }
}

