@import "../../scss/index.scss";

.publications {
  margin-top: 50px;
  
  padding-bottom: 20px;

  .upload {
    display: flex;
    align-content: flex-start;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
  }
}
