@import '../../../scss/index.scss';

.preview-publication {
	display: flex;
	flex-direction: column;
	height: 100%;

	@media (min-width: 300px) {
		display: flex;
		justify-content: center;
	}
	@media (min-width: 600px) {
		display: flex;
		justify-content: flex-start;
	}

	&:hover {
		cursor: pointer;
		opacity: 0.9;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
        margin-bottom: 5px;
        padding-right: 25px;
	}

	&__image-box {
		display: flex;
		height: 100%;
		justify-content: center;
	}

	&__image-box-image {
		align-content: center;
		width: 200px;
		height: 200px;
	}
}
