@import "../../scss/index.scss";

.actions {
  display: flex !important;
  position: relative !important;
  background-color: $background-light;
  padding: 10px !important;

  &__icons {
    flex-direction: column;
    color: #8282f1;
    img {
      width: 18px !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
  i {
    font-size: 20px !important;
  }
  span {
    margin-top: 5px;
    font-size: 16px !important;
    font-style: italic;
    font-weight: bold;
    color: rgb(114, 22, 16);
  }
}
